@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  background-color: #1a1816;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font: 16px "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: white;
  line-height: 2;
}

span,
p,
footer {
  font-weight: 300;
}

.top {
  margin: 0;
  font-size: 10px;
}

.top > .row {
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.container {
  padding: 3em 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  background-color: #252422;
  border-radius: 20px;
  padding: 3em;
  margin: 1em;
  min-width: 65vw;
}

.wrapper > .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 0;
}

section > .row {
  flex-direction: column;
  gap: 0;
}

.row {
  display: flex;
  gap: 2em;
}

section {
  width: 30%;
}

#firstName,
#surname {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 5px 0 20px 0;
}

h3 {
  font-weight: 300;
  color: #eb5e28;
}

i {
  color: #eb5e28;
}

.info {
  margin: 0;
}

.ability-scores {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.ability-scores > .row {
  display: flex;
  align-items: center;
}

.ability-scores > .row p {
  flex-basis: 20%;
  margin: 0;
  white-space: nowrap;
}

.ability-scores > .row p + p {
  text-align: right;
}

select {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px;
  font: 15px "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

select:hover {
  border: 1px solid black;
}

button {
  background: linear-gradient(to right, #ee5417, #b32b22);
  color: white;
  border: 1px solid #b32b22;
  border-radius: 8px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 10px 15px;
}

button:hover {
  background: linear-gradient(to right, #b94212, #b9180d);
  cursor: pointer;
}

footer {
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #ee5417;
}

a:hover {
  color: #b32b22;
}
@media only screen and (max-width: 1500px) {
  .wrapper {
    width: 85vw;
  }

  .container {
    padding: 1em;
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 95vw;
  }
}

@media only screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }

  .ability-scores > .row,
  .top > .row {
    flex-direction: row;
  }

  section > .row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .wrapper {
    width: 75vw;
  }

  .wrapper > .row {
    gap: 0;
  }

  section {
    width: 100%;
  }

  h3,
  .main {
    text-align: center;
  }

  .ability-scores {
    justify-items: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 1em;
  }

  h1 {
    margin: 20px;
  }

  h2 {
    font-size: 1em;
  }

  .info {
    font-size: 0.8em;
  }

  .wrapper {
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    padding: 2em;
  }

  section > .row {
    gap: 10px;
  }

  select {
    width: 50%;
  }
}
