@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  background-color: #1a1816;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font: 16px "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: white;
}

span,
p {
  font-weight: 300;
}

body,
button,
button {
  font: 16px "Poppins", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 0.9rem;
}

.top {
  margin: 0;
  font-size: 10px;
}

.container {
  padding: 1em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background-color: #252422;
  border-radius: 20px;
  padding: 3em;
  margin: 2em;
  width: 60vw;
}

.wrapper > .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 0;
}

.row {
  display: flex;
  gap: 2em;
}

section {
  width: 30%;
}

#firstName,
#surname {
  font-size: 2.8rem;
  font-weight: 300;
}

h2 {
  font-size: 1.2rem;
  font-weight: 100;
}

h3 {
  font-weight: 300;
  color: #eb5e28;
}

i {
  color: #eb5e28;
}

.ability-scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.ability-scores > .row {
  display: flex;
  align-items: center;
}

.ability-scores > .row p {
  flex-basis: 20%;
  margin: 0;
  white-space: nowrap;
}

.ability-scores > .row p + p {
  text-align: right;
}
