/* add media queries for responsive mobile design 
add color themes? */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #252422;
}

body,
button,
.btn {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  text-align: center;
  color: white;
}

p {
  text-align: left;
}

span {
  color: white;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  padding-top: 0;
}

/*  section boxes  */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0.2em;
}

.section {
  background-color: rgb(255, 251, 240, 0.1);
  height: 95vh;
  width: 22vw;
  border-radius: 18px;
  padding: 2em;
  justify-content: center;
}

.ability-personality {
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
  gap: 1em;
}

.beliefs-alignment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subsection {
  display: flex;
  flex-direction: column;
}

/*  left section  */
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.labels {
  font-weight: 600;
  color: #eb5e28;
}

span {
  font-weight: 100;
  color: white;
}

/*  middle section  */

/* alignment buttons & top button */

#alignment {
  width: 100%;
}

.personality,
.plot-hook {
  display: inline-block;
}

.generate {
  height: 60px;
}

.ability-scores-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ability-scores-column {
  display: flex;
  flex-direction: column;
}
.ability-scores-column p {
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 0.3rem;
}

.alignments {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  font-size: 0.9rem;
}

.personality,
.plot-hook {
  text-align: left;
}

/*  right section  */

.beliefs {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 40%;
}

.btn {
  border: 0;
  border-radius: 8px;
  background-color: #eb5e28;
  width: 100px;
  height: 60px;
  font-size: 1em;
  transition-duration: 0.5s;
}

button.btn.generate {
  width: 20%;
  height: 60px;
}
button.btn.randomize {
  width: 80%;
}

.align {
  width: 30%;
}

.btn:hover {
  background-color: #b93500;
  height: 60px;
  width: 120px;
}

.align:focus {
  background-color: #b93500;
  border: 1px solid white;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
