/* add media queries for responsive mobile design 
add color themes? */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  background-color: #252422;
}

body,
button,
.btn {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 0.8rem;
}

body,
p,
span {
  text-align: left;
  line-height: 1.3rem;
}

h2 {
  font-size: 1.8rem;
}

h1,
h3 {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

/*  section boxes  */

.top,
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0;
}

.top {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 1em;
  margin-bottom: 0em;
  justify-content: bottom;
}
.container {
  min-height: 50vh;
  max-width: 70vw;
  padding: 1em;
  margin: 0 auto;
}

.section {
  background-color: rgb(255, 251, 240, 0.1);
  height: 50em;
  min-width: 20em;
  border-radius: 18px;
  padding: 2em;
  margin-top: 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  width: 25em;
}

.ability-personality {
  display: flex;
  width: 25em;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2em;
  gap: 1em;
}

.beliefs-alignment {
  width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subsection {
  display: flex;
  flex-direction: column;
}

/* button all */
button.btn {
  border: 0;
  border-radius: 8px;
  background: linear-gradient(to right, #eb5e28, #f0433d);
  font-size: 0.8em;
  transition-duration: 0.5s;
  cursor: pointer;
  padding: 0.5em;
}

button.btn:hover {
  background: linear-gradient(to right, #db5520, #df4a30);
}

/* button generate */
button.generate {
  min-width: 12em;
  height: 5em;
}

/* button randomize */
button.randomize {
  min-width: 12em;
  height: 5em;
}

/* small buttons */
button.align {
  width: 30%;
  height: 40%;
  background: #eb5e28;
}

button.align:focus {
  background: #b93500;
  border: 1px solid white;
}

button.align:hover {
  background: #b93500;
  width: 32%;
  height: 40%;
}

/*  left section  */
#name {
  text-align: center;
  margin: 0;
  line-height: 1.3;
  display: block;
}

.info {
  display: block;
}

.labels {
  font-weight: 600;
  color: #eb5e28;
  letter-spacing: 0.1rem;
}

span {
  color: white;
  font-weight: 100;
}

/*  middle section  */

.ability-personality {
  min-width: 20em;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  gap: 1em;
}

.personality,
.plot-hook {
  display: inline-block;
}

.generate {
  height: 60px;
}

.ability-scores-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ability-scores-column {
  display: flex;
  flex-direction: column;
}
.ability-scores-column p {
  font-weight: 800;
  font-size: 1rem;
  color: #ff986f;
  line-height: 0.2rem;
  letter-spacing: 0.1rem;
}

.alignments {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  font-size: 0.9rem;
}

.personality,
.plot-hook {
  text-align: left;
}

/*  right section  */

.alignment {
  gap: 1em;
}

#alignment {
  padding-top: 3em;
  color: #ff986f;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
}

/* scroll bar */
.beliefs {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 95%;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* copyright */
.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin: 0 auto;
}

a {
  color: #eb5e28;
  text-decoration: none;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .section {
    width: 88vw;
    height: 70vh;
    padding: 3em;
    gap: 1em;
  }

  span,
  p,
  .beliefs,
  .personality,
  .plot-hook {
    text-align: center;
  }

  .beliefs-alignment {
    padding: 2em;
  }

  button.align {
    width: 25%;
    height: 50%;
    background: #eb5e28;
  }

  button.align:focus {
    background: #b93500;
    border: 1px solid white;
  }

  button.align:hover {
    background: #b93500;
    width: 27%;
    height: 40%;
  }

  #alignment {
    padding-top: 3.5em;
  }
}

@media (max-width: 600px) {
  .section {
    width: 85vw;
    height: 80vh;
    padding: 3em;
  }

  .subsection,
  .appearance,
  p,
  span {
    text-align: left;
  }

  button.align {
    width: 30%;
    max-height: 5em;
    background: #eb5e28;
  }

  button.align:focus {
    background: #b93500;
    border: 1px solid white;
  }

  button.align:hover {
    background: #b93500;
    width: 32%;
    height: 40%;
  }
}

@media (max-width: 400px) {
  .section {
    width: 88vw;
    max-height: 70em;
    padding: 2em;
  }
}
