/* add media queries for responsive mobile design 
add color themes? */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  background-color: #252422;
}

body,
button,
.btn {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 0.98rem;
}

p,
span {
  text-align: left;
}

h2,
h3,
h4 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

/*  section boxes  */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0.2em;
}

.section {
  background-color: rgb(255, 251, 240, 0.1);
  height: 60rem;
  width: 25rem;
  border-radius: 18px;
  padding: 2em;
  justify-content: center;
}

.ability-personality {
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
  gap: 1em;
}

.beliefs-alignment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subsection {
  display: flex;
  flex-direction: column;
}

/*  left section  */
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.labels {
  font-weight: 600;
  color: #eb5e28;
}

span {
  color: white;
  font-weight: 100;
}

/*  middle section  */
/* alignment buttons & top button */

#alignment {
  width: 100%;
}

.personality,
.plot-hook {
  display: inline-block;
}

.generate {
  height: 60px;
}

.ability-scores-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ability-scores-column {
  display: flex;
  flex-direction: column;
}
.ability-scores-column p {
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 0.3rem;
}

.alignments {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  font-size: 0.9rem;
}

.personality,
.plot-hook {
  text-align: left;
}

/*  right section  */

h4 {
  font-size: 1.5rem;
  padding-top: 0;
}

#alignment {
  color: #ff986f;
}

/* button all */
button.btn {
  border: 0;
  border-radius: 8px;
  background: linear-gradient(to right, #eb5e28, #f0433d);
  min-width: 100px;
  min-height: 60px;
  font-size: 1em;
  transition-duration: 0.5s;
  cursor: pointer;
}

button.btn:hover {
  background: linear-gradient(to right, #db5520, #df4a30);
}

/* button generate */
button.generate {
  min-width: 300px;
  min-height: 60px;
}

/* button randomize */
button.randomize {
  width: 80%;
  background: linear-gradient(to right, #eb5e28, #e7543a);
}

/* small buttons */
button.align {
  width: 30%;
  background: #eb5e28;
}

button.align:focus {
  background: #b93500;
  border: 1px solid white;
}

button.align:hover {
  background: #b93500;
  height: 60px;
  width: 120px;
}

/* scroll bar */
.beliefs {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 40%;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* copyright */
.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin: 1;
}

a {
  color: #eb5e28;
  text-decoration: none;
}

@media (max-width: 900px) {
  .container.top {
    gap: 2rem;
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .section {
    max-height: 50rem;
    min-width: 80%;
  }

  .body {
    font-size: 1.2em;
  }
}

@media (max-width: 620px) {
  h1 {
    text-align: center;
    font-size: 1.3rem;
  }

  .container.top {
    gap: 1rem;
  }

  button.generate {
    min-width: 200px;
    min-height: 20px;
  }

  .section {
    max-height: 50rem;
    min-width: 80%;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .container.top {
    margin: 0.5rem;
    gap: 1rem;
  }
  .section {
    min-height: 54rem;
    max-width: 22rem;
    justify-content: space-between;
  }

  .beliefs-alignment {
    max-height: 85rem;
  }

  body {
    font-size: 0.9rem;
  }

  button.btn {
    min-width: 70px;
  }

  button.align:hover {
    background: #b93500;
    height: 60px;
    width: 100px;
  }
}
